
<head>
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/main.css" rel="stylesheet">
<link href="assets/css/bootstrap-theme.css" rel="stylesheet">
<script src="assets/js/bootstrap.js"> </script>
<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
<!-- <link rel="stylesheet" type="text/css" href="QQAssets/sidebar.css" /> -->
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<title>iAcademy - e-Learning</title>
</head>